accelerate>=0.16.0,<1
bitsandbytes
click>=8.0.4,<9
datasets>=2.10.0,<3
deepspeed>=0.8.3,<0.9
einops==0.6.1
faiss-cpu==1.7.4
ipykernel==5.5.6
langchain==0.0.271
torch>=2.0
transformers==4.32.0
pytest==7.3.2
python-dotenv==1.0.0
wikipedia==1.4.0
pypdf==3.15.1
pymupdf
chromadb==0.4.6
sentence-transformers==2.2.2
duckduckgo-search==4.2
xmltodict==0.13.0
unstructured==0.10.16